<h1>Question asked by {{author}}</h1>

{{#if isEditingQuestion}}
  <!-- QUESTION EDITING FORM -->
  <form>
    <div class="form-group">
      <label for="author">Author</label>
      {{input id="author" class="form-control" value=author}}
    </div>
    <div class="form-group">
      <label for="description">Description</label>
      {{input id="description" class="form-control" value=description}}
    </div>
    <div class="form-group">
      <label for="body">Question</label>
      {{input id="body" class="form-control" value=body}}
    </div>

    <button class="btn btn-success" {{action 'save'}}>Save</button>
  </form>
{{else}}
  <!-- QUESTION ATTRIBUTES, DELETE, EDIT AND ADD-ANSWER BUTTONS -->
  <h2>Question Description: </h2>
  <h4>{{description}}</h4>

  <h2>Question Body: </h2>
  <h4>{{body}}</h4>

  <button class="btn btn-primary" {{action 'edit'}}>Edit Question</button>
  <button class="btn btn-danger" {{action 'delete'}}>Delete Question</button>
  <br>
  <p>
    <br>
    {{#link-to 'new-answer' class="btn btn-primary"}}Answer Question{{/link-to}}
  </p>
  <ul>
      <h4>Answers: </h4>
    {{#each answers}}
      <li>{{answer_body}}{{#link-to 'answer' this.id class="glyphicon glyphicon-pencil"}}Edit/Delete{{/link-to}}</li>
    {{/each}}
  </ul>
{{/if}}

{{outlet}}
